@font-face {
    font-family: 'fresh';
    src: url(../fonts/megafresh.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

a:hover {
    color: #F36AD3;
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #fff;
    ;
    position: absolute;
    margin-top: 130px;
    margin-left: 20px;
    z-index: 1;
}

h2 {
    font-family: 'fresh';
    font-size: 3.5em;
    font-weight: 100;
}

h3 {
    font-family: 'fresh', sans-serif;
    margin: 0;
    margin-bottom: 5%;
    font-size: 2.5em;
    font-weight: 100;
    margin-left: 10%;
}

h4 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 15%;
    font-size: 3em;
    padding-left: 40px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 40px;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
}

p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: white;
    margin: 0;
    font-weight: 200;
    text-align: justify;
}

.icon {
    width: 6%;
    margin: 0 10px 0 10px;
    transition: transform .2s;
}

.icon:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

#motto {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5em;
    margin: 0;
    padding: 0;
    line-height: 0.9em;
    text-align: left;
    position: absolute;
    top: 35%;
    margin-left: 40%;
    color: #fff;
}

#myVideo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

#me {
    padding-top: 4%;
    padding-bottom: 2%;
    width: 100%;
}

#me2 {
    padding-top: 4%;
    padding-bottom: 2%;
    width: 90%;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.readmore {
    margin: 0;
    padding: 0;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.galimg {
    display: grid;
    width: 100%;
}

#galposts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 5% 12% 3% 12%;
}

.dropbtn {
    color: black;
    border: none;
    cursor: pointer;
    padding-bottom: 10%;
    padding-top: 2%;
    width: 10%;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
}

.dropdown {
     position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.dropdown-content {
     display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #fff}

.show {display:block;}

.dropdown-content2 {
    width: 100%;
    z-index: 1;
    font-size: 1.0em;
}

a {
    margin: 5%;
    text-decoration: none;
    font-weight: 500;
    color: #919191;
}

#blogposts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 0;
}

.blogcontent {
    padding: 5%;
}

.img-wrap {
    width: auto;
    height: auto;
    position: relative;
}

img.blogimg {}

.img-wrap > .blogimg {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.subimage {
    padding-top: 3%;
    padding-bottom: 3%;
}

#timelinedesktop {
    width: 100%;
    margin: 0;
    padding: 0;
}

appbar {
    width: 100vw;
    height: 300px;
    top: 0;
    left: 0;
}

.home {
    display: none;
}

.container {
    background: #fff;
}

.grid-container {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5%;
    padding: 5%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 55% 45%;
    padding-left: 5%;
    padding-right: 0;
    margin-bottom: -5%;
    margin-top: -10%;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 55% 45%;
}

.grid-container4 {
    display: grid;
    grid-template-columns: 45% 55%;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 0;
}

img.introimage {
    width: 70%;
    float: right;
}

.clients-section {
    margin-top: -10%;
}

.collab {
    width: 90%;
    right: 0;
    float: right;
}

.cornerpicture {
    width: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.corner {
    position: relative;
    z-index: 2;
}

.blogsection {
    position: relative;
    z-index: 2;
}

.blogpic2 {
    width: 28%;
    position: absolute;
    top: 20vh;
    left: 0px;
}

.blogpic1 {
    width: 28%;
    position: absolute;
    top: 50vh;
    right: 0px;
}

.socialmedia {
    position: relative;
    text-align: center;
    color: black;
}

.clients {
    margin-top: 5%;
    position: relative;
    text-align: center;
    color: black;
    justify-content: center;
}

img.clientsdesktop {
    width: 70%;
    margin-left: 15%;
}

#gal {
    position: relative;
    text-align: center;
    color: black;
}

.gallery {
    position: relative;
    padding: 5% 8% 3% 8%;
    z-index: 10;
}

.blogmain {
    padding: 5%;
    position: relative;
    z-index: 10;
}

.clientsdesktop {
    padding: 5%;
    margin: auto;
    width: 90%;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-family: 'Poppins', sans-serif;
    background: #F36AD3;
    color: white;
    width: 70px;
    height: 50px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    float: right;
}

button:hover {
    background: #F296DD;
    cursor: pointer;
}

.bottom {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myVideo2 {
    display: none;
}

.introimage2 {
    display: none;
}

.clientsmobile {
    display: none;
}

.timelinemobile {
    display: none;
}

img {
    width: 100%;
}

#submit {
    width: 150px;
}

#send {
    width: 150px;
}

.dropdown2 {
    display: none;
    padding-bottom: 5%;
}

.logo {
    order: 1;
    padding: 1em;
    font-size: 64px;
    color: #beddef;
    line-height: 32px;
    padding: 24px;
    width: 200px;
    margin-top: 22%;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
    z-index: 2000;
    position: relative;
    box-shadow: 0 5px 15px -10px #111;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #baddad;
    margin: 25px 0;
    height: 80px;
    box-shadow: 0 5px 15px -10px #111;
    background: white;
    ;
    z-index: 1000;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
}

label {
    font-size: 20px;
    line-height: 70px;
    display: block;
    width: 26px;
    float: left;
}

.iconlabel {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

logologo {
    padding: 0;
    margin: 0;
    display: none;
    width: 20%;
    float: left;
}

#toggle {
    display: none;
}

.aboutme {
    padding: 5%;
}



 .mobile-gif {
    width: 100%;
    height: 100vh;
    background-image: url(../introgif.gif);
    background-size: cover;
    margin-top: -15%;
}

@media only screen and (max-width: 800px) {

    h4 {
        padding-left: 80px;
        padding-right: 80px;
    }
    a:hover {
        color: #F36AD3;
    }
    .icon {
        width: 11%;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .iconlabel {
        display: block;
        cursor: pointer;
    }
    logologo {
        display: block;
        padding-left: 20px;
        cursor: pointer;
        width: 100px;
        margin-top: 3%;
        position: absolute;
        z-index: 3;
    }
    .home {
        padding-top: 60px;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    .logo {
        display: none;
    }
    #toggle:checked + .menu {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .bottom {
        display: none;
    }
    a:hover {
        color: #F36AD3;
    }
    .grid-container {
        background: white;
        display: grid;
        grid-template-columns: 100%;
    }
    .introimage2 {
        display: block;
    }
    .introimage {
        display: none;
    }
    #myVideo {
        display: none;
    }
    #myVideo2 {
        width: 100%;
        display: block;
    }
    .clientsmobile {
        width: 90%;
        margin-left: 6%;
        margin-right: 5%;
        display: block;
    }
    .clientsdesktop {
        display: none;
    }
    .timelinemobile {
        display: block;
    }
    .timelinedesktop {
        display: none;
    }
    .menu {
        height: 100vh;
    }
    .home {
        display: block;
    }
    #motto {
        display: none;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: 100%;
    }
    .grid-container3 {
        display: grid;
        grid-template-columns: 100%;
    }
    .grid-container4 {
        display: grid;
        grid-template-columns: 100%;
    }
}

@media only screen and (min-width: 1000px) {

    .mobile-gif {
 display: none;
}
    a:hover {
        color: #F36AD3;
    }
    .dropdown {
        display: none;
    }
    .dropdown2 {
        display: inline;
        text-align: center;
    }
    #galposts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        padding: 5% 8% 3% 8%;
    }
    #blogposts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }
    p.pblog {
        padding-left: 200px;
        padding-right: 200px;
    }
    a:hover {
        color: #F36AD3;
    }
}
